In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_trips = pd.read_csv("10_percent_trips.csv")

In [3]:
# Data overview
raw_trips.describe()

,Unnamed: 0,Trip Seconds,Trip Miles,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude
count,1.118480e+07,1.116369e+07,1.118427e+07,1.118480e+07,1.048746e+07,1.048746e+07,1.039946e+07,1.039946e+07
mean,5.592588e+07,1.098487e+03,6.264771e+00,1.234415e+00,4.189263e+01,-8.766712e+01,4.189332e+01,-8.766898e+01
std,3.228870e+07,7.931887e+02,6.997907e+00,1.407315e+00,6.121643e-02,6.302049e-02,6.132989e-02,6.668731e-02
min,8.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.165022e+01,-8.791362e+01,4.165022e+01,-8.791362e+01
25%,2.794433e+07,5.450000e+02,1.800000e+00,1.000000e+00,4.187741e+01,-8.768083e+01,4.187741e+01,-8.768351e+01
50%,5.594236e+07,8.840000e+02,3.800000e+00,1.000000e+00,4.189322e+01,-8.765177e+01,4.189322e+01,-8.765177e+01
75%,8.388699e+07,1.424000e+03,7.900000e+00,1.000000e+00,4.192908e+01,-8.763172e+01,4.192933e+01,-8.763172e+01
max,1.118507e+08,7.044000e+04,3.331000e+02,4.097000e+03,4.202122e+01,-8.752995e+01,4.202122e+01,-8.752995e+01

In [4]:
# Data overview
raw_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11184799 entries, 0 to 11184798
Data columns (total 11 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Unnamed: 0                  int64
 1   Trip ID                     object
 2   Trip Start Timestamp        object
 3   Trip End Timestamp          object
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Trips Pooled                int64
 7   Pickup Centroid Latitude    float64
 8   Pickup Centroid Longitude   float64
 9   Dropoff Centroid Latitude   float64
 10  Dropoff Centroid Longitude  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 938.7+ MB

In [5]:
# null-free data
null_free_trips = raw_trips.dropna()
null_free_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9685424 entries, 1 to 11184796
Data columns (total 11 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Unnamed: 0                  int64
 1   Trip ID                     object
 2   Trip Start Timestamp        object
 3   Trip End Timestamp          object
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Trips Pooled                int64
 7   Pickup Centroid Latitude    float64
 8   Pickup Centroid Longitude   float64
 9   Dropoff Centroid Latitude   float64
 10  Dropoff Centroid Longitude  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 886.7+ MB

In [7]:
#null_free_trips.to_csv("10_percent_clean.csv")